.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  list-style-type: none;
  

}

.menu-list li {
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.search-box{
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5;
}

.search-box input{
  border: none;
  margin-left: 5px;
}

.img-box{
  height: 364px;
  width: 264px;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}