body{
  background: url(https://cdn.crowdpic.net/detail-thumb/thumb_d_62D25CDF145C55841F869B978520FFDD.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: beige;
}
.weather-button{
  
  margin-top: 1em;
  border: 3px solid white;
  border-radius: 30px;
  background-color: beige;
}

.weather-button button{
  margin: 10px;
}