body{
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20210908/pngtree-weather-blue-sky-daytime-white-clouds-clear-sky-image_817896.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  color: #ffc107;
  padding: 100px;
  border-radius: 30px;
  background-color: black;
}

.weather-box div{

  font-size: 50px;

}
.weather-button{
  
  margin-top: 1em;
  border-radius: 45px;
  background-color: black;
}

.weather-button button{
  margin: 1em;
}